Repository Fullchee/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

#   https://lefthook.dev/configuration/
pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "{.storybook,app,components,lib}/*.{ts,tsx}"
      run: npx tsc --noEmit {staged_files}

[skip ci] update lefthook to use turbo
  lefthook.yml
Due: none

[skip ci] Fix import
  components/footer.stories.tsx
  lefthook.yml
  next-env.d.ts
Due: biome-check, type-check

[skip ci] use csf next
  .storybook/main.ts
  .storybook/preview.ts
  components/footer.stories.tsx
  package.json
Due: biome-check, type-check

[skip ci] Add tailwind to storybook config
  .storybook/preview.ts
Due: biome-check, type-check

[skip ci] Add chromatic
  chromatic.config.json
Due: biome-check

[skip ci] Remove unnecessary Container component
  .github/copilot-instructions.md
  components/container.tsx
  components/layout.tsx
Due: biome-check, type-check

[skip ci] Add ProjectCard and update tsconfig
  components/header.stories.tsx
  components/project/MainProjects.tsx
  components/project/ProjectCard.stories.tsx
  components/project/ProjectCard.tsx
  components/project/ProjectList.tsx
  lefthook.yml
  next-env.d.ts
  tsconfig.json
Due: biome-check, type-check

[skip ci] Use turbo to type check
  lefthook.yml
Due: none

add extension recommendations
  .vscode/extensions.json
Due: biome-check

update ci to use pnpm 10
  .github/workflows/ci.yml
Due: none

ci: use package.json packageManager for pnpm (avoid duplicate versions)
  .github/workflows/ci.yml
Due: none

ci: use pnpm instead of turbo
  .github/workflows/ci.yml
Due: none

update colours for vscode titlebar
  .vscode/settings.json
Due: biome-check

upgrade biome to 2.4.2
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check

upgrade most dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check
